body {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);  
}
#container{
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    min-height: 500px;
    margin: 0px auto;
    border: 5px solid black;
    border-radius: 8px;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 7px;
    padding: 5px;
    flex-direction: column;
    background-color: black;
    align-content: center;
    margin-top: 5%;
    
}

.buttonContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    row-gap: 9px;
    width: 100%;
}

button{
    font-size: 70px;
    padding: 9px;
    width: 85px;
    height: 85px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    
}
.numbers:hover{
    background-color: #d4d4d4; 
    transform: scale(1.05);
}

#clear{
    background-color: orange;
}
.operations{
    background-color: rgb(15, 13, 13);
    color: white;

}
.operations:hover{
    background-color: #363434;
}

#display{
    padding-top: 10px;
    height: 40px;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    border: 3px solid black;
    align-items: center;
    min-height: 60px;
    padding-left: 5px;
    background-color: white;
    text-align: right;
    margin-bottom: 20px;
}
.displayContainer{
    width: 100%;
}